<div class="container my-3">
  <div class="d-flex justify-content-between align-items-center mb-5">
    <h1>Available cocktails</h1>
    <%= link_to new_cocktail_path, class: "btn-elegant my-3" do %>
      <i class="fa fa-plus"> Add new cocktail</i>
    <% end %>
  </div>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-4">
      <div class="cocktail-card">
        <div class="cocktail-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>')"></div>
        <div class="cocktail-card-content">
          <div class="cocktail-card-title d-flex align-items-center">
            <h5><%= cocktail.name %></h5>
          </div>
          <div class="cocktail-card-body d-flex flex-column justify-content-start">
            <h4>Ingredients</h4>
            <% Dose.where(cocktail: cocktail).each do |dose| %>
              <p><%= dose.ingredient.name %></p>
            <% end %>
          </div>
        </div>
        <div class="cocktail-card-actions">
          <%= link_to cocktail_path(cocktail), class: "link" do %>
          <i class="fas fa-info-circle"> More info</i>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
